footer.footer
    .footer__logo 
        img.controller(src='/img/controller.png' alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Become Guide
        li: a(href='#') Careers
        li: a(href='#') Contact
        li: a(href='#') About us
    p.footer__copyright &copy; by Steve Rector