header.header 
    nav.nav.nav--tours 
        a.nav__el(href='/') About Us
        a.nav__el(href='/overview') All Games
        a.nav__el(href='/addGame') Add Game

    .header__logo 
        img(src='/img/fighting.png' alt='Natours logo')
    nav.nav.nav--user 
        a.nav__el(href='#')
            img.nav__user-img(src='/img/user-1.jpg' alt='User photo')
            span Steve 
        
