extends base


block content
    h1.heading-secondary.ma-bt-lg Welcome to the Game Hub!   
    p(style= "font-size: 22px") Here you can see an aggregated collection of games from throughout the industry! The collection includes games from different developers, genres, geographical locations, and more! 
    br 
    p(style= "font-size: 22px") Each game has relevant details about them in their individual pages, which can easily be accessed by clicking on the Describe button on their respective cards. These details include data such as the title, overall rating out of 10, the average length to complete, and more!
    br 
    p(style= "font-size: 22px") Want to add your own favorites to the list? Head over to the Add Game page and fill out the required information about your game! A link to this page can be found at the top of the page, or you can access it          
        a(href='/addGame')  Here!
    br 
    p(style= "font-size: 27px") Enjoy the site, and <b style ="color: green">GAME ON!</b>

    


