extends base 

block content 
    section.section-header
        .description-box
            h2.heading-secondary.ma-bt-lg=`Steve's Account Page`
            p.description__text This is where I plan on fleshing out account managmeent functionality in the future, I did not quite have time to do so for this project.