extends base 

block content 
    section.section-header
        .description-box
            h2.heading-secondary.ma-bt-lg=`About ${game.name}`
            p.description__text Step into a Dark fantasy world where your choices have unpredictable consquences. You have awoken on a crashed alien ship, with nothing but steel in hand and your two feet to take you forward.
            p.description__text Make strong friendships, betray those you care for, find love, and more as you create your own legend in Baldurs Gate 3.
            p.description__text ---
            h3.heading-secondary.ma-bt-lg=`AVERAGE SCORE FROM PLAYERS: ${game.rating} / 10`
            p.description__text ---
            h3.heading-secondary.ma-bt-lg=`APPROXIMATE TIME TO COMPLETE: ${game.length} HOURS`
            <br>
            button(type="button", gameID=`${game.id}`)#delete.btn.btn--green Delete Game 

     
