extends base


block content
    h1.heading-secondary.ma-bt-lg Random page 
    p(style= "font-size: 22px") Here you can see press the below button to generate a random game name!
    br 
    button(type="button")#random.btn.btn--green Generate Game 

    script(src='./js/getRandomGame.js')